<!-- Structured Data -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "{{ site.author.name }}",
        "description": "{{ site.description }}",
        "url": "{{ site.url }}",
        "image": "{{ site.url }}/assets/images/pawan-prof.png",
        "jobTitle": "Principal Software Engineer",
        "sameAs": [
            "{{ site.data.social.social_links.linkedin }}",
            "{{ site.data.social.social_links.twitter }}",
            "{{ site.data.social.social_links.github }}"
        ],
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Gurgaon",
            "addressRegion": "Haryana",
            "addressCountry": "India"
        },
        "email": "pawanyd2012@gmail.com",
        "telephone": "+91-7737507050"
    }
</script>