<!-- Structured Data -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "{{ site.author.name }}",
        "description": "{{ site.description }}",
        "url": "{{ site.url }}",
        "image": "{{ site.url }}/assets/images/pawan-prof.png",
        "jobTitle": "Principal Software Engineer",
        "sameAs": [
            {% for social in site.data.social %}
            "{{ social.url }}"{% if forloop.last == false %},{% endif %}
            {% endfor %}
        ],
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Gurgaon",
            "addressRegion": "Haryana",
            "addressCountry": "India"
        },
        "email": "pawanyd2012@gmail.com",
        "telephone": "+91-7737507050"
    }
</script>