<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        /* Ensure full responsiveness */
        .container {
            max-width: 100%;
            width: 90%;
            margin: 0 auto;
        }
    </style>
</head>

<body class="bg-gray-100 font-sans">

    <!-- Include Navigation -->
    {% include navigation.html %}


    {{ content }}


    <!-- Footer Section -->
    <footer class="bg-gray-900 text-white py-6 text-center mt-12">
        <p>&copy; {{ 'now' | date: "%Y" }} {{ site.data.home.footer.text }}</p>
    </footer>
</body>

</html>